<template name="Basket">
  <div id="basket">
    {{#if items}}

      <h2>Кошик</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th><i class="fa fa-image"></i></th>
          <th>Найменування</th>
          <th>Розмір</th>
          <th>Ціна за шт.</th>
          <th>Шт.</th>
          <th>Сума</th>
          <th>Видалити</th>
        </tr>
        </thead>
        <tbody>
        {{#each items}}
          <tr>
            <td><img src="{{mainPhoto}}" class="tumbnail"/></td>
            <td>{{name}}</td>
            <td>
              <select class="size-select">
                {{#let size=size}}
                  {{#each sizes}}
                    <option value="{{this}}" {{isSelected this size}}>{{this}}</option>
                  {{/each}}
                {{/let}}
              </select>
            </td>
            <td>{{price}}</td>
            <td><input type="text" value="{{count}}" class="item-count-input"/></td>
            <td>{{sum price count}} грн</td>
            <td>
              <button class="fa fa-trash-o btn btn-danger remove-from-basket"></button>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      <div class="btn-group pull-right">
        <button class="btn btn-default disabled">{{overallSum}} грн</button>
        <button class="btn btn-info">Оформити замовлення</button>
      </div>
    {{else}}
      <div class="well text-center">
        На жаль, Ваш кошик порожній. <a href="/">Перейти до товарів</a>
      </div>
    {{/if}}
  </div>
</template>