<template name="ItemSquare">
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-primary item-square">
      <div class="panel-heading">
        <a href="/item/{{_id._str}}">
          <h3 class="panel-title">{{name}}</h3>
        </a>
      </div>
      <div class="panel-body">
        <a href="/item/{{_id._str}}">
          <div class="main-image-wrapper">
            <img src="{{mainPhoto}}" class="main-image"/>
          </div>
        </a>
        <hr/>
        {{> BuyButton this}}
      </div>
    </div>
  </div>
</template>
