.item-square {

  .panel-title {
    font-weight: bold;
    text-align: center;
  }

  .main-image-wrapper {
    text-align: center;

    .main-image {
      max-width: 100%;
      max-height: 250px;
    }
  }

  .panel-body {
    .price-wrapper {
      text-align: center;
    }
  }
}