@import "../../mixins.import.less";

.item-square {

  .panel-heading {
    .transition(opacity, .2s);

    &:hover {
      opacity: 0.75;
    }

    a {
      color: white;

      .panel-title {
        cursor: pointer;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .main-image-wrapper {
    cursor: pointer;
    text-align: center;
    .transition(opacity, .2s);

    &:hover {
      opacity: 0.75;
    }

    .main-image {
      max-width: 100%;
      max-height: 250px;
    }
  }

  .panel-body {
    .price-wrapper {
      text-align: center;
    }
  }
}