<template name="ItemPage">
  <div id="item-page">
    <div class="row photos-row">
      {{#each photos}}
        <img src="{{link}}" class="photo
        {{#unless first}}hidden-xs{{/unless}}
          {{#unless medium}}hidden-sm{{/unless}}
        "/>
      {{/each}}
    </div>
    <div class="row item-heading-wrapper">
      <h1 class="text-center item-heading">{{info.name}}</h1>
    </div>
    <div class="row">
      <blockquote>
        {{info.description}}
      </blockquote>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="well">
          <h4>Функціонал</h4>
          <ul>
            {{#each info.features}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="well">
          <h4>Догляд</h4>
          <ul>
            {{#each info.care}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>