<template name="ItemPage">
  <div id="item-page">
    <div class="row photos-row">
      {{#each photos}}
        <a href="{{link}}">
          <img src="{{link}}" class="photo
          {{#unless first}}hidden-xs{{/unless}}
          {{#unless medium}}hidden-sm{{/unless}}
          "/>
        </a>
      {{/each}}
    </div>
    <div class="row item-heading-wrapper">
      <h1 class="item-heading">
        {{item.name}}
        <span class="pull-right">
          {{> BuyButton item}}
        </span>
      </h1>
    </div>
    <div class="row">
      <blockquote>
        {{item.description}}
      </blockquote>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="well">
          <h4>Функціонал</h4>
          <ul>
            {{#each item.features}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="well">
          <h4>Догляд</h4>
          <ul>
            {{#each item.care}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>